<!DOCTYPE html>
<html lang="en">
  <title>Sign In</title>
<head>
  <%- include ../partials/head.ejs %>
</head>
<body class="container">

<header>
  <%- include ../partials/header.ejs %>
</header>

<main>
  <div class="jumbotron">
    <h1>Sign In</h1>
    <div class="container"> 
      <% if(messages.success) { %>
        <div class="alert alert-success" role="alert"><%- messages.success %>
      <% } %>

      <% if (messages.error) { %>
      <div class="alert alert-danger" role="alert"><%- messages.error %></div>
      <% } %>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    </div> 
</main>

<footer>
  <%- include ../partials/footer.ejs %>
</footer>

</body>
</html>
