<!DOCTYPE html>
<html lang="en">
  <title>Register</title>
<head>
  <%- include ../partials/head.ejs %>
</head>
<body class="container">

<header>
  <%- include ../partials/header.ejs %>
</header>

<main>
  <div class="jumbotron">
    <h1>Student Registration</h1>
    <div class="container"> 
      <% if(messages.success) { %>
        <div class="alert alert-success" role="alert"><%- messages.success %>
      <% } %>
      <% if (messages.error) { %>
      <div class="alert alert-danger" role="alert"><%- messages.error %></div>
      <% } %>
      <!--Begin User Data Form-->
        <form action="/login/studentregister" method="post">
        <div class="form-group">
            <label>First Name:</label>
            <input type="text" class="form-control" name="firstname" placeholder="Enter First Name" autocomplete="off">
            <label>Last Name:</label>
            <input type="text" class="form-control" name="lastname" placeholder="Enter Last Name" autocomplete="off">
            <label>Email:</label>
            <input type="email" class="form-control" name="email"  placeholder="Enter Email" autocomplete="off">
            <label>RCC ID:</label>
            <input type="rccid" class="form-control" name="rccid"  placeholder="Enter RCC ID" autocomplete="off">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    </div> 
</main>

<footer>
  <%- include ../partials/footer.ejs %>
</footer>

</body>
</html>
